body{
    padding: 2rem;
}

#lista-de-tarefas {
    /*mobile first*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

@media (min-width: 768px){
    #lista-de-tarefas {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 500px){
    #lista-de-tarefas {
        grid-template-columns: 1fr 1fr;
    }
}

#lista-de-tarefas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px));
    gap: 1.5rem;
}