 @import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";


body {
    background-color: #161515;  
    padding-bottom: 2rem;
    height: 100vh;
  
}

  .title {
    color: #f0f0f0;
  }
  
  .box{
    width: 45vh;
  }

  /*  
  .button {
    margin-right: 0.5rem; 
  }
  
 
  .progress {
    margin-bottom: 5rem;
    color: #181717;

  }
  

  .tag {
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem; 
  }
  
 
  .subtitle {
    color: #f0f0f0; 
    margin-bottom: 0.5rem; 
  }
  */

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    margin: 2rem auto;
  }

  .acoes{
    display: flex;
    justify-content: space-around;
  }